@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group19.com</h1>
    <p>
        This is a cool, inovative website that you can use to order products straight to your doorstep.
        We service a wide range of products, from video games, to lawnmowers.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xNjyG8S4_kI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Please enjoy this music while you browse our selection.</p>
    <br />
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
        nesciunt.
    </p>
    <br />
    <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
        aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
        reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae co
        nsequatur, vel illum qui dolorem eum fugia
        t quo voluptas nulla pariatur
    </p>


</div>
