@page
@model Group19Project.Pages.ExtraPages.ContactUsModel
@{
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>Need assistance. Below are our contact details.</p>
    <p>Phone Number : Lorem Ipsum</p>
    <p>Email Address : Lorem Ipsum</p>
</div>
