@page
@model Group19Project.Pages.Product.CreateProductModel
@{
}

<h1>| Create a Product |</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Products.ProductName" class="control-label"></label>
                <input asp-for="Products.ProductName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Products.ProductPrice" class="control-label"></label>
                <input asp-for="Products.ProductPrice" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Products.ProductCategory" class="control-label"></label>
                <input asp-for="Products.ProductCategory" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Products.ProductDescription" class="control-label"></label>
                <input asp-for="Products.ProductDescription" class="form-control" />
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-page="/Product/ProductIndex">Back to Product Management Homepage</a>
</div>
