@page
@model Group19Project.Pages.UserPages.UserIndexModel
@{
}

<h1>| Customer Homepage |</h1>
<br />

<h2>Welcome @Model.FirstName</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/UserPages/ViewProducts">View Available Products</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/UserPages/ViewOrders">View Orders</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Logout/Logout">Logout</a></p>
    </div>

</div>
