@page
@model Group19Project.Pages.User.EditUsersModel
@{
}

<h1>| Edit Users |</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <input type="hidden" asp-for="Users.UserID" />




            <div class="form-group">
                <label asp-for="Users.FirstName" class="control-label"></label>
                <input type="text" asp-for="Users.FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Users.LastName" class="control-label"></label>
                <input type="text" asp-for="Users.LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Users.EmailAddress" class="control-label"></label>
                <input type="text" asp-for="Users.EmailAddress" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Users.Password" class="control-label"></label>
                <input type="text" asp-for="Users.Password" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Users.Role" class="control-label"></label>
                <input type="text" asp-for="Users.Role" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="/User/UserManagement">Return to User Management Homepage</a>
</div>


