@page
@model Group19Project.Pages.User.UserManagementModel
@{
}

<h1>| User Management Homepage |</h1>
<br />

<h2>Welcome @Model.FirstName</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/User/CreateUser">Create Users</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/User/DeleteUsers">Delete Users</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/AdminPages/ViewUsers">View Users</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/AdminPages/AdminIndex">Return to Admin Homepage</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Logout/Logout">Logout</a></p>
    </div>

</div>
